.name-div {
    background-color: var(--store-cinza-escuro);
    height: 3rem;
}

#nomeH1 {
    color: white;
    padding: 1rem;
    margin: 0; /* MUDAR */
    font-size: 1.5em;
}

#desc-h2 {
    border-top: 1px solid black;
    margin: 0;
    padding-left: 1rem;
}

#desc-paragrafo {
    padding-left: 1rem;
    padding-right: 1rem;
}

.desc-parag {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* CONTEUDO DE VISUALIZACAO DOS ITENS */

.prod-contnt {
    border: 1px solid black;
    background-color: var(--teste);
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
}

.upper-contnt {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.contnt-img {
    border: 1px solid black;
    margin-top: 1rem;
    margin-left: 1rem;
}

.contnt-interesse {
    display: block;
    margin-top: 1rem;
}

.prod-preco {
    display: inherit;
    font-size: xx-large;
}

.prod-interesse-btn {
    display: inherit;
}

/* IMG  */

.prod-img {
    max-height: 15rem;
    padding: 2rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MEDIA QUERY */

@media (max-width: 728px) {
    .prod-contnt {
        width: 90%;
    }

    .prod-img{
        max-height: 10rem;
    }
}
